div.well

	div.payouts

		h4!= "Wallets"
		p
		a(href='https://github.com/RadiantBlockchain/electron-radiant/releases') Electron (desktop)
		p
		a(href='https://photonic.radiant4people.com') Photonic (web)
		p
		a(href='https://tangem.com') Tangem (HW)
				p
		a(href='https://chainbow.io') Chainbow (Mobile)